<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartKrishi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.fruits.ShowPDFActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.fruits.FruitsActivity"/>
        <activity
            android:name=".AllCultivateAndFarming.hen.HensActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AllCultivateAndFarming.hen.hen.HenActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.hen.HensActivity" />
        <activity
            android:name=".AllCultivateAndFarming.hen.quail.QuailActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.hen.HensActivity" />
        <activity
            android:name=".AllCultivateAndFarming.hen.pigeon.PigeonActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.hen.HensActivity" />
        <activity
            android:name=".AllCultivateAndFarming.hen.pheasant.PheasantActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.hen.HensActivity" />
        <activity
            android:name=".AllCultivateAndFarming.hen.pecock.PecockActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.hen.HensActivity" />
        <activity
            android:name=".AllCultivateAndFarming.hen.ostrich.OstrichActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.hen.HensActivity" />
        <activity
            android:name=".AllCultivateAndFarming.hen.duck.DuckActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.hen.HensActivity" />
        <activity
            android:name=".AllCultivateAndFarming.hen.bee.BeeActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.hen.HensActivity" />
        <activity
            android:name=".AllCultivateAndFarming.cow.cowkeeping.CowKeepingActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.cow.CowActivity" />
        <activity
            android:name=".AllCultivateAndFarming.cow.cowfeeding.CowFeedingActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.cow.CowActivity" />
        <activity
            android:name=".AllCultivateAndFarming.cow.cowdisease.CowDiseaseActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.cow.CowActivity" />
        <activity
            android:name=".AllCultivateAndFarming.cow.cowbreeding.CowBreedingActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.cow.CowActivity" />
        <activity
            android:name=".AllCultivateAndFarming.cow.cowacommodation.CowAcommodationActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.cow.CowActivity" />
        <activity
            android:name=".AllCultivateAndFarming.fish.prawn.PrawnActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.fish.FishActivity" />
        <activity
            android:name=".AllCultivateAndFarming.fish.plantfish.PlantFishActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.fish.FishActivity" />
        <activity
            android:name=".AllCultivateAndFarming.fish.nativefish.NativeFishActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.fish.FishActivity" />
        <activity
            android:name=".AllCultivateAndFarming.fish.fishdisease.FishDiseaseActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.fish.FishActivity" />
        <activity
            android:name=".AllCultivateAndFarming.fish.fishbreeding.FishBreedingActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.fish.FishActivity" />
        <activity
            android:name=".AllCultivateAndFarming.fish.fishacommodation.FishAcommodationActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.fish.FishActivity" />
        <activity
            android:name=".AllCultivateAndFarming.fish.combinedfish.CombinedFishActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.fish.FishActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.vegitable.VegitableActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.roof.RoofActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.rice.RiceActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.potato.PotatoActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.medicinesplant.MedicinesPlantActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.likely.LikelyActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.flowers.FlowersActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.fertilizer.FertilizerActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.disease.DiseaseActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.combined.CombinedCultivationActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.fruits.FruitsActivity"
            android:exported="true"
            android:parentActivityName=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity" />
        <activity
            android:name=".AnotherCultivateAndTechnology.agriculturetechnology.AgricultureTechnologyActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnotherCultivateAndTechnology.anothernews.AnotherNewsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnotherCultivateAndTechnology.business.BusninessActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnotherCultivateAndTechnology.environment.EnvironmentActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnotherCultivateAndTechnology.success.SuccessActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnotherCultivateAndTechnology.health.HealthActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".advice.AdviceAllActivity"
            android:exported="false" />
        <activity
            android:name=".AllCultivateAndFarming.fish.FishActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AllCultivateAndFarming.cow.CowActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AllCultivateAndFarming.agricultureinformation.AgricultureInformationActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>